body {
  background: #000 url("./assets/universe.jpg") no-repeat;
}

#container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#container * {
  user-select: none;
}

#clock {
  margin: 250px auto;
  background-color: transparent;
  color: #3ebc36;
  border-radius: 10px;
  border: 5px solid #3ebc36;

  width: 60%;
  height: 100px;

  font-family: "Orbitron", sans-serif;
  font-size: 72px;
  text-align: center;
}

.digit {
  display: inline-block;
  width: 95px;
  margin: 0 15px;
}

#quote {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 42px;
}
